
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');
#navbar {
    width: 200px; /* Ancho fijo para el navbar */
    background-color: #f8f8f8; /* Color de fondo */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra opcional para profundidad */
    position: fixed; /* Hacer que el navbar esté fijo */
    height: 100vh; /* Altura completa de la ventana */
   
    
}
main {
    margin-left: 240px; /* Dejar espacio para el navbar */
    padding: 20px; /* Relleno para el contenido principal */
    flex-grow: 1; /* Permitir que el contenido principal crezca */
}
body{
    margin: 0;
}
#navbar a, #navbar header{
padding: 10px;
border-bottom: 1px solid black;
}

#navbar a{
    display: block;
    text-decoration: none;
    color: #4d4e53;
    
}
@media only screen and (max-width: 815px) {
    #navbar {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }
    main{
        margin-left: 0px;
        margin-top: 275px;
        padding: 0;
    }
}
header{
    font-size: larger;
    font-weight: bold;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p,li{
    font-family: "Shanti", sans-serif;
    font-weight: 400;
    font-style: normal;
}